td {
  border: 2px solid #000;
  padding: 3px;
  text-align: center;
  width: 30px;
  height: 30px;
}
table {
  margin: auto;
  border-collapse: collapse;
}
.prime {
  background-color: rgb(255, 70, 70);
  transition: .4s;
}
.current {
  background-color: rgb(16, 180, 16);
  color: #fff;
  transition: .5s;
}