 * {
    margin: 0;
    padding: 0;
 }
 nav {
     display: flex;
     justify-content: center;
 }
 .navigation {
    list-style: none; 
 }
 .navigation li {
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
 }
 .navigation li a {
    display: block; 
    padding: 15px 20px;  
    background: #0db5b5; 
    color: #3f3f3f; 
    text-decoration: none; 
 }
 .navigation li a:hover {
    background: #92d3d3; 
    color: #6b6b6b;  
 }

 #container {
     margin: 30px auto 0;
     width: 90%;
     text-align: center;
     display: flex;
     justify-content: center;
 }